{% extends 'baseadm.html' %}

{% block title %}Editar Categoría | ADMINISTRADOR{% endblock %}

{% block content %}
<h1>Editar Categoría</h1>
<form method="POST">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ categoria['nombre'] }}" required>
    </div>
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ categoria['descripcion'] }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
{% endblock %}
