.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

html,
body{
    position: relative;
    height: 100%;
}
body{
    background-color: #323232;
    font-family: Helvetica Neue,  Helvetica, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}

.swiper{
    width: 100%;
    padding: 150px 0 50px 0;
}

.swiper-slide{
    width: 300px;
    height: 500px;
    background-color: #323232;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i{
    font-size: 20px;
    color: #ffb900;
}

.icons img{
    width: 120px;
}

.product-content{
    display:  flex;
    justify-content: space-between;
}

.product-txt{
    flex-basis: 50%;
    text-align:  left;
}

.product-txt span{
    font-size: 25px;
    color: #ffb900;
    font-weight: bold;
}

.product-txt h3{
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.product-txt p{
    font-size: 14px;
    color: #c4c4c4;
}

.product-img {
    flex-basis: 50%;
    text-align: right;
}

.product-img img{
    width: 120px;
}

.btn-1{
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid #ffb900;
    border-radius: 25px;
    color: #ffb900;
    text-decoration: none;
    margin-top: 50px;
}

/* estilos para el carrusel */

.secction_1{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background: rgb(49, 49, 49);

}

h4, h2, small, a{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.carousel{
    width: 100%;
    margin: 0px 0px;
}

@media(min-width:768px) {
    .carousel{
        margin: 0px 60px;
    }
}

.carousel h2{
    font-size: 45px;
    line-height: 38px;
    padding-bottom: 50px;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.carrusel-list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}

.carrusel-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.carrusel{
    position: relative;
    width: 210px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.carrusel h4 {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #ffffff;
    padding: 15pz;
}

.carrusel h4 small {
    font-size: 15px;
    display: block;
}

.carousel a img {
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

@media(min-width:768px){

    .carrusel{
        width: 275px;
    }
    .carrusel a img {
        width: 250px;
    }
}

.carrusel-arrow{
    border-radius: 30px;
    background-color: #ffffff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus{
    outline: 0;
}

.carrusel-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0, 0, 0, 0.7);
}

.carrusel-prev{
    left: 0px;
}

.carrusel-next{
    right: 0px;
}